@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Azeret Mono", monospace;
  color: rgb(13, 19, 33);
}

/* nav styles here */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 48px 150px;
}
nav h3 {
  font-size: 28px;
  font-weight: 800;
}
nav button {
  font-size: 20px;
  font-weight: 600;
  padding: 17px 24px 17px 24px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  cursor: pointer;
}

/* banner styles here */

.banner-container {
  max-width: 1440px;
  height: 652px;
  background-image: url(./assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-contant {
  width: 998px;
  height: 582px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-contant img {
  width: 240.28px;
  height: 240px;
  margin-top: 26px;
}

.banner-contant h1 {
  font-size: 48px;
  font-weight: 800;
  margin-top: 32px;
  margin-bottom: 24px;
}
.banner-contant p {
  width: 852px;
  height: 52px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}
.banner-btn {
  background-color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 21px 24px 21px 24px;
  border: none;
  border-radius: 8px;
  margin-top: 32px;
  cursor: pointer;
}

/* web debelopment component styles */

.web-development-component {
  width: 1140px;
  height: 1395px;
  margin: 0 auto;
  margin-top: 74px;
  background-color: rgba(13, 19, 33, 0.02);
}
.web-development-content-box {
  width: 946px;
  height: 1235px;
  margin: 80px 97px;
}
.web-development-first-section {
  width: 852px;
  height: 115px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 47px;
  margin-bottom: 48px;
}
.web-development-first-section h3 {
  font-size: 32px;
  font-weight: 800;
}
.web-development-first-section p {
  font-size: 16px;
  font-weight: 400;
  /* margin-top: 24px; */
}

/* web debelopment content */

.web-development-content {
  width: 946px;
  height: 1072px;
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.learn-more-btn {
  width: 150px;
  height: 48px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 20px;
  font-weight: 600;
}

.content-box {
  width: 946px;
  height: 336px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 477px;
  height: 220px;
}
.content h3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
}
.content p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 32px;
  color: rgba(13, 19, 33, 0.7);
}
.first-img-content {
  width: 259.56px;
  height: 217.01px;
}

.second-img-contant {
  width: 223.2px;
  height: 208.85px;
  margin-right: 48px;
}
.third-img-contant {
  width: 206.4px;
  height: 187.32px;
}

/* my inspiration section style here */

.my-inspiration {
  width: 1140px;
  height: 777px;
  margin: 0 auto;
  margin-top: 88px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-inspiration h3 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 24px;
}
.my-inspiration p {
  font-size: 16px;
  font-weight: 400;
  width: 852px;
  opacity: 0.7;
  margin-bottom: 48px;
}
.my-inspiration iframe {
  padding: 32px;
  border-radius: 5px;
}
